<form action="/search" method="get">
      <div class="form-group">
        <label for="address">Address</label>
        <input class="form-control" type="text" name="address" placeholder="350 Ferst Dr NW, Atlanta, GA 30313" autocomplete="off" required />
      </div>
      <div class="form-group">
        <label for="type">Type</label>
        <input class="form-control" type="text" name="type" placeholder="a&h" autocomplete="off" required />
      </div>
      <div class="form-group">
        <label for="beds">Beds</label>
        <input class="form-control" type="text" name="beds" placeholder="1" autocomplete="off" required />
      </div>
      <div class="form-group">
        <label for="baths">Baths</label>
        <input class="form-control" type="text" name="baths" placeholder="1" autocomplete="off" required />
      </div>
      <div class="form-group">
        <label for="pets">Pets</label>
        <input class="form-control" type="text" name="pets" placeholder="1" autocomplete="off" required />
      </div>
      <div class="form-group">
        <label for="parking">Parking</label>
        <input class="form-control" type="text" name="parking" placeholder="1" autocomplete="off" />
      </div>
      <div class="form-group">
        <label for="price">Price Range</label>
        <input class="form-control" type="text" name="price" placeholder="500-1000" autocomplete="off" />
      </div>
      <div class="form-group">
        <label for="rate">Avarage Rating</label>
        <input class="form-control" type="text" name="rate" placeholder="3.5" autocomplete="off" />
      </div>
      <div class="form-group">
        <label for="review_count">Review Count</label>
        <input class="form-control" type="text" name="review_count" placeholder="10" autocomplete="off" />
      </div>
      <div class="form-group">
        <label for="palces">Nearby Places</label>
        <input class="form-control" type="text" name="places" placeholder="gym,library,Chinese resturant" autocomplete="off" />
      </div>
      <div class="form-group">
        <label for="travelling">Travelling methods</label>
        <input class="form-control" type="text" name="travelling" placeholder="driving" autocomplete="off" />
      </div>
      <div class="form-group">
        <label for="time_limit">Time Limit on Travelling</label>
        <input class="form-control" type="text" name="time_limit" placeholder="20" autocomplete="off" />
      </div>
      <div class="form-group">
        <button>Search!</button>
      </div>
      <hr>
      <hr>
</form>
